@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* _content/HelpdeskSystem.Web/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-1zp8dq1v6e] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1zp8dq1v6e] {
    flex: 1;
}

.sidebar[b-1zp8dq1v6e] {
    background-image: linear-gradient(180deg, rgb(26, 32, 44) 0%, rgb(45, 55, 72) 70%);
}

.top-row[b-1zp8dq1v6e] {
    background-color: #1a202c;
    border-bottom: 1px solid #2d3748;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-1zp8dq1v6e]  a, .top-row[b-1zp8dq1v6e]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-1zp8dq1v6e]  a:hover, .top-row[b-1zp8dq1v6e]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-1zp8dq1v6e]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-1zp8dq1v6e] {
        justify-content: space-between;
    }

    .top-row[b-1zp8dq1v6e]  a, .top-row[b-1zp8dq1v6e]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-1zp8dq1v6e] {
        flex-direction: row;
    }

    .sidebar[b-1zp8dq1v6e] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1zp8dq1v6e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-1zp8dq1v6e]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-1zp8dq1v6e], article[b-1zp8dq1v6e] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/HelpdeskSystem.Web/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-f6o817ribv] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-f6o817ribv] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-f6o817ribv] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-f6o817ribv] {
    font-size: 1.1rem;
    font-weight: 600;
}

.bi[b-f6o817ribv] {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: -.125em;
}

.nav-scrollable[b-f6o817ribv] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-f6o817ribv] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-f6o817ribv] {
        display: none;
    }

    .nav-scrollable[b-f6o817ribv] {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.nav-item[b-f6o817ribv] {
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-f6o817ribv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-f6o817ribv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-f6o817ribv]  .nav-link {
        color: #d1d5db;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
        padding: 0 0.75rem;
    }

.nav-item[b-f6o817ribv]  a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-item[b-f6o817ribv]  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
