.navbar-toggler[b-f6o817ribv] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-f6o817ribv] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-f6o817ribv] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-f6o817ribv] {
    font-size: 1.1rem;
    font-weight: 600;
}

.bi[b-f6o817ribv] {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: -.125em;
}

.nav-scrollable[b-f6o817ribv] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-f6o817ribv] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-f6o817ribv] {
        display: none;
    }

    .nav-scrollable[b-f6o817ribv] {
        display: block;
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.nav-item[b-f6o817ribv] {
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-f6o817ribv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-f6o817ribv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-f6o817ribv]  .nav-link {
        color: #d1d5db;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
        padding: 0 0.75rem;
    }

.nav-item[b-f6o817ribv]  a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: white;
}

.nav-item[b-f6o817ribv]  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
